@use './mixins' as *;
@use './variables' as *;


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
}

body {
  margin: 0;
  font-family: $main-font-family
}

.flex-container {
  @include flex-box(row, space-between, 10);
}

.title {
  @include font-style(30, 40, #E7E5DF, 600, 'Open Sans');
  text-transform: uppercase;

  @media screen and (max-width: 768px) {
    @include font-style(25, 30, #E7E5DF, 600, 'Open Sans');
  }

  @media screen and (max-width: 376px) {
    margin: 0 0 10px;
    @include font-style(12, 15, #E7E5DF, 600, 'Open Sans');
  }
}

ul {
  list-style: none;
}

.welcome-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  @include font-style(30, 40, #E7E5DF, 600, 'Open Sans');
  text-align: center;

  &__caption {
    @include font-style(20, 30, #E7E5DF, 600, 'Open Sans');
  }
}

.start-link {
  font-size: 16px;
  padding: 15px 50px;
  color: #fff;
  background-color: lighten($color: $secondary-color, $amount: 30);
  border-radius: 4px;
  border: none;
  font-family: $main-font-family;

  &:hover {
    background-color: lighten($color: $secondary-color, $amount: 15);
    opacity: 0.9;
    cursor: pointer;
  }
}

.uppercase {
  text-transform: uppercase;
}

.welcomeImg {
  position: relative;
  height: 100vh;
  width: 100%;

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.726);
    z-index: 1;
  }

}

.text-pageMoreWlprs{
  text-align: center;
  color: $secondary-color;
  margin-bottom: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-around;
}

.form-caption {
  color: darken($color: $secondary-color, $amount: 5);
  margin: 0 auto;

  &--dark {
    color: #fff;
  }
}

.text-center {
  text-align: center;
}

.formGetMore {
  padding: 40px;
   border-radius: 10px;
   background: rgba(157, 223, 228, 0.838); 
   min-height:400px; 
   min-width: 500px;
    margin: 0 auto; 
   display: flex; 
   flex-direction:column; 
  justify-content: center;

  &--dark {
    background: darken($color: $secondary-color, $amount: 2);
    color: #fff;
  }

  @media screen and (max-width: 376px) {
    display: flex;
    // flex-direction: column;
    padding: 10px;
    min-width: 200px;
    margin: 0 5px;
  }
}

.input--dark {
  color: #fff;
}

.link-getMore {
  margin: 0 auto;
  font-size: 16px;
  padding: 10px 20px;
  color: #fff;
  background-color: $secondary-color;
  border-radius: 4px;
  border: none;
  font-family: $main-font-family;
  display: flex;
  justify-content: center;
  width: 150px;

  &:hover {
    background-color: lighten($color: $secondary-color, $amount: 15);
    opacity: 0.9;
    cursor: pointer;
  }
}