@mixin flex-box ($direction: row, $justify: initial, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  gap: #{$gap}px;
}

@mixin font-style($font-size: 18, $line-height: 30, $color: #fff, $font-weight: 400, $font-family: 'Montserrat') {
  font-size: #{$font-size}px;
  line-height: #{$line-height}px;
  color: $color;
  font-weight: $font-weight;
  font-family: $font-family;
}