@import '../../styles/mixins';
@import '../../styles/variables';

.form {
  &__field {
    display: flex;
    gap: 8px;
  }

  &__field {
    @media screen and (max-width: 376px) {
      display: flex;
      flex-direction: column;
    }
  } 
}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input {
  @media screen and (max-width: 376px) {
    padding: 0;
    font-family: 'Open Sans';
  }
}

.css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root {
  @media screen and (max-width: 768px) {
    height: 50px;
  }

  @media screen and (max-width: 376px) {
    height: 30px;
    font-size: 15px;
    padding: 8px 0;
  }

}

.css-1o9s3wi-MuiInputBase-input-MuiOutlinedInput-input:focus {
  @media screen and (max-width: 376px) {
    padding: 8px 0;
  }
}
