@import '../../styles/mixins';
@import '../../styles/variables';

.nav {
  display: flex;
  
  @media screen and (max-width: 376px) {
    display: flex;
    // flex-direction: column;
    gap: 8px;
  }

  &--dark {
    color: #fff;
  }
  
  &__list {
    display: flex;
    list-style: none;
    gap: 50px;

    @media screen and (max-width: 376px) {
      gap: 10px;
    }

    &__link {
      @include font-style(18, 20, #000, 400, 'Open Sans');

      @media screen and (max-width: 768px) {
        @include font-style(15, 15, #000, 400, 'Open Sans');
      }

      @media screen and (max-width: 376px) {
        @include font-style(15, 20, #000, 400, 'Open Sans');
      }
       
      &.active {
        border-bottom: 2px solid $secondary-color;
      }

      &--dark {
        @include font-style(18, 20, #000, 400, 'Open Sans');

        @media screen and (max-width: 376px) {
          @include font-style(15, 10, #000, 400, 'Open Sans');
        }
      }
    }

    &__link:hover {
      color: #44AAA4;
      border-bottom: 2px solid #44AAA4;
    }
  }
}

.reverse {
  display: flex;
  gap: 50px;

  @media screen and (max-width: 376px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 0;
  }
}

.nav-desktop {
  @media screen and (max-width: 376px) {
    display: none;
  }
  &__list {

    @media screen and (max-width: 376px) {
      display: none;
    }

    @media screen and (max-width: 1900px) {
      display: flex;
      gap: 50px;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      // flex-direction: column;
      gap: 30px;
    }

    &__link {

      @media screen and (max-width: 1900px) {
        @include font-style(18, 20, #000, 400, 'Open Sans');
      }

      @media screen and (max-width: 768px) {
        @include font-style(15, 15, #000, 400, 'Open Sans');
      }
       
      &.active {
        border-bottom: 2px solid $secondary-color;
      }

      &--dark {

        @media screen and (max-width: 1900px) {
          @include font-style(18, 20, #fff, 400, 'Open Sans');
        }

        @media screen and (max-width: 768px) {
          @include font-style(15, 15, #fff, 400, 'Open Sans');
        }       
      }
    }

    &__link:hover {
      color: #44AAA4;
      border-bottom: 2px solid #44AAA4;
    }
  }

  
}