@import '../../styles/mixins';
@import '../../styles/variables';

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
}

.logo-img {
  width: 100px;
  @media screen and (max-width: 376px) {
    margin: 10px 0;
    width: 50px;
    height: 25px;
  }
}

.text-logo {
  margin: 20px 0 0;
  @include font-style(30, 24, $secondary-color, 700, 'DM Sans');

  @media screen and (max-width: 768px) {
    margin: 18px 0;
    @include font-style(20, 20, $secondary-color, 700, 'DM Sans');
  }

  @media screen and (max-width: 376px) {
    margin: 10px 0;
    @include font-style(15, 15, $secondary-color, 700, 'DM Sans');
  }
}